body {
  height: 100vh;

 display: flex;
   justify-content: center; 
  align-items: center; 
}
button {
   padding: 20px;
   cursor: pointer;
   border-radius: 20px;
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}